@font-face {
    font-family: "DIN Condensed";
    src: url("https://shadow-bacon.github.io/dinc/DIN-Condensed-Web.woff2") format("woff2"),
         url("https://shadow-bacon.github.io/dinc/DIN-Condensed-Web.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
